<h1>Sample App</h1>

<ul><li>Home</li>
<li><a href="/static_pages/help">Help</a></li>
<li><a href="/static_pages/about">About</a></li></ul>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>